header{
  background: #0404B4;
  color: #FFF;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  width: auto;
  padding: 20px;
  height: center;
  
  
}

body {
  background: #E0ECF8;
  color: #0404B4;
  font-family: Arial, Helvetica, sans-serif;
}