h1{
  background: #0404B4;
  color: #FFF;
  margin: auto;
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
  width: auto;
  height: auto;
  
  
 
}

h2{
  
  color: #0404B4;
    
}
 h3{
  width: 300px;
  height: 60px;
  border: 1px solid blue;
  color: rgb(46, 44, 44);
}

 input{
  width: 300px;
  height: 60px;
  border: 1px solid blue; 
  
}

body {
  background: #E0ECF8;
  color: #0404B4;
  font-family: Arial, Helvetica, sans-serif;
  padding: auto;
}